:root {
  --color__primary: #1f2937;
  --color__accent: #3882f6;
  --color__neutral--light: #f9faf8;
  --color__neutral--gray: #e5e7eb;

  --font__size--400: 1.125rem;
  --font__size--500: 1.5rem;
  --font__size--600: 2.25rem;
  --font__size--700: 3rem;

  --font__weight--light: 300;
  --font__weight--bold: 700;
  --font__weight--extra-bold: 800;

  --spacing__padding--horizontal: 15%;

body {
  font-family: Roboto;
  font-size: var(--font__size--400);
  color: var(--color__primary);
  background-color: var(--color__primary);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--font__size--600);
  font-weight: var(--font__weight--extra-bold);
}

h3 {
  font-size: var(--font__size--500);
  font-weight: var(--font__weight--extra-bold);
}

section {
  padding-left: var(--spacing__padding--horizontal);
  padding-right: var(--spacing__padding--horizontal);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing__padding--horizontal);
}

.header a {
  color: var(--color__neutral--gray);
  text-decoration: none;
}

.header .logo {
  font-size: var(--font__size--500);
  font-weight: var(--font__weight--bold);
  color: var(--color__neutral--light);
}



}
