:root {
  --color__primary: #1f2937;
  --color__accent: #3882f6;
  --color__neutral--light: #f9faf8;
  --color__neutral--gray: #e5e7eb;

  --font__size--400: 1.125rem;
  --font__size--500: 1.5rem;
  --font__size--600: 2.25rem;
  --font__size--700: 3rem;

  --font__weight--light: 300;
  --font__weight--bold: 700;
  --font__weight--extra-bold: 800;

  --spacing__padding--horizontal: 15%;

body {
  font-family: Roboto;
  font-size: var(--font__size--400);
  color: var(--color__primary);
  background-color: var(--color__primary);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--font__size--600);
  font-weight: var(--font__weight--extra-bold);
}

h3 {
  font-size: var(--font__size--500);
  font-weight: var(--font__weight--extra-bold);
}

section {
  padding-left: var(--spacing__padding--horizontal);
  padding-right: var(--spacing__padding--horizontal);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing__padding--horizontal);
}

.header a {
  color: var(--color__neutral--gray);
  text-decoration: none;
}

.header .logo {
  font-size: var(--font__size--500);
  font-weight: var(--font__weight--bold);
  color: var(--color__neutral--light);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.hero__title {
  font-size: var(--font__size--700);
  font-weight: var(--font__weight--extra-bold);
  color: var(--color__neutral--light);
}

.hero__content {
  max-width: 28rem;
}

.hero__text {
  color: var(--color__neutral--gray);
}

.button {
  font-size: var(--font__size--400);
  font-weight: var(--font__weight--bold);
  background-color: var(--color__accent);
  color: var(--color__neutral--light);
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
}

.button--outlined {
  border: 2px solid var(--color__neutral--light);
}

.info {
  background-color: var(--color__neutral--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.info__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15rem;
  text-align: center;
  width: 10rem;
}

.info__thumbnail {
  flex: 0 1 auto;
  width: 10rem;
  height: auto;
  border-radius: 0.5rem;
  border: 0.25rem solid var(--color__accent);
}

.testimonial {
  background-color: var(--color__neutral--gray);
  padding: 5rem 29%;
}

.testimonial__quote {
  font-size: var(--font__size--600);
  font-weight: var(--font__weight--light);
}

.testimonial__signature {
  font-size: var(--font__size--500);
  font-weight: var(--font__weight--bold);
  text-align: right;
  padding-right: 2rem;
}

.cta {
  color: var(--color__neutral--light);
  background-color: var(--color__neutral--light);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cta__container {
  background-color: var(--color__accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0.5rem;
  padding: 2rem 8rem;
  border-radius: 0.5rem;
}

footer {
  color: var(--color__neutral--light);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
